{% extends "base.html" %}

{% block title %} 
Sunright Cafe | Admin Home
{% endblock %}

{% block content %}

<div id="admin-home-content">

<div id="admin-nav">
    <h3>Manage Inventory & Orders</h3>
    <div id="admin-actions-div" class="d-flex flex-col flex-md-row justify-content-between">
        <a href="/admin/drink/" class="btn">Drinks</a>
        <a href="/admin/topping" class="btn">Toppings</a>
        <a href="/admin/milktype" class="btn">Milk Types</a>
        <a href="/admin/order" class="btn">Orders</a>
        <a href="/admin/customdrink" class="btn">Custom Drinks</a>
    </div>
</div>

<hr> 

<h3>orders</h3>
{% if orders|length == 0 %}
    <p>No orders currently!</p>
{% else %}
    <p>There are {{orders|length}} total orders.</p>
    {% for order in orders %}
        <div class="d-flex flex-row justify-content-between">
            <div>{{ order.id }}</div>
            <div>{{ order.purchase_date }}</div>
            <div>{{ order.total_price }}</div>
        </div>        
        <hr>
    {% endfor %}
{% endif %}

<hr>

<h3>custom drinks</h3>
{% if custom_drinks|length == 0 %}
    <p>No custom drinks</p>
{% else %}
    <p>There are {{custom_drinks|length}} custom drinks.</p>
    {% for custom_drink in custom_drinks %}
        <div class="d-lg-flex flex-lg-row d-xl-flex flex-xl-col" style="gap: 8%;">
            <div>{{ custom_drink.id }}</div>
            <div>{{ custom_drink.custom_price }}</div>
            <div>{{ custom_drink.qty }}</div>
            <div>{{ custom_drink.order_id }}</div>
            <div>{{ custom_drink.drink_name }}</div>
            <div>{{ custom_drink.sugar_lvl }}</div>
            <div>{{ custom_drink.ice_lvl }}</div>
            <div>{{ custom_drink.milk_type }}</div>
            <div>{{ custom_drink.toppings }}</div>
        </div>
        <hr>
    {% endfor %}
{% endif %}

</div>

<script>
    const currentPath = window.location.pathname;
    if (!currentPath.includes('/home')) {
        alert('Admin access only. Redirecting Home.');
        document.getElementById('admin-home-content').innerHTML = ``;
        window.location.pathname = '/';
    }

    // Hide cart button & replace navbar store address in admin views
    document.getElementById("cart-btn").classList.add('hidden');
    document.getElementById("nav-address").innerHTML = `<p>Welcome, <b>Admin</b><p>`;
    document.getElementById("banner-address").innerHTML = `<p>Welcome, <b>Admin</b><p>`;
    
</script>

{% endblock %}